header{
    padding-bottom: 20px;
    text-align: center;
}

div.greetingclockdate {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 70% 5% 5% 5% 5% 5% 5%;
}

div.list{
    background-color: lightskyblue;
    width: 300px;
    height: 300px;
    padding: 5px;
}

div.addthings{
    padding: 5px;
    text-align: center;
}

div.addtext {
    background-color: gray;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px 30px 2px 30px ;
}

div.todolist {
    background-color: gray;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 30px;

}

div.calculator{
    width: 500px;
    height: 600px;
    background-color: darkslateblue;
    padding: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

div.calendar{
    background-color: lightskyblue;
    padding: 5px;
    padding-bottom: 7px; 
}

div.month{
    text-align: center;
    font-size: 50px;
}

div.day{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

div.date {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

main {
    display: flex;
    flex-wrap: wrap;
}


