h1 {
    width: 60%;
    margin: 5% auto;
}

main {
    width: 60%;
    margin: 5% auto;
    background: blue;
}

article {
    margin: 1% auto;
    border: 2px solid orange;
    width: 60%;
    background: white;
}

article > h3{
    font-size: 1em;
}

article:hover {
    background: grey;
}

article:hover > h3{
    color: darkblue;
}