body{
    background-color: #7395ae;
    display: grid;
    grid-template-areas: "head   head"
                         "things  calc"
                         "datetime datetime"
    ;
  }
  
  header{
    color: white;
    background-color: #5d5c61;
    margin: 5px;
    width: 67%;
    padding: 20px;
    text-align: center;
    grid-area: head;
    font-size: 30px;
  }
  
  .list{
    margin: 5px;
    background-color: #b1a296;
    width: 300px;
    height: 300px;
    padding: 5px;
    grid-area: things;
  }
  
  .addthings{
    padding: 5px;
    text-align: center;
  }
  
  .addtext {
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px 30px 2px 30px ;
  }
  
  #itemField{
    width: 200px;

  }

  #add{
    margin-left: 120px;
    width: 40px;
  }

  #list_section{
    width: 240px;
  }

  ul {
    padding: 5%;
    width: 250px;
  }
  .todolist {
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 30px;
  
  }
  
  .calculator {
    margin: 5px;
    align-items: center;
    width: 200px;
    height: 150px;
    border-width: 2px;
    border-color: #557a95;
    border-style: solid;
    grid-area: calc;
    background-color: #b1a296;
  
  }
  
  .results{
    padding: 5px;
  }
  
  .buttons{
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
  }
  
  .input {
    width: 42px;
    padding: 2px;
  }
  
  div.calendar{
    background-color: #b1a296;
    padding: 5px;
    padding-bottom: 7px; 
    grid-area: datetime;
  }
  
  div.month{
    text-align: center;
    font-size: 50px;
  }
  
  div.day{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  div.date {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media (max-width: 576px) {
  
    body{
      display: grid;
      grid-template-areas: "head"
                           "things"
                           "calc"
                           "datetime"
      ;
    }
  
    header{
      grid-area: head;
    }
  
    div.list{
      grid-area: things;
    }
  
    .calculator {
      grid-area: calc;
    }
  
    div.calendar{
      grid-area: datetime;
    }
  
  }
  
  @media (max-width: 768px) {
  
    body{
      display: grid;
      grid-template-areas: "head"
                           "things"
                           "calc"
                           "datetime"
      ;
    }
  
    header{
      grid-area: head;
    }
  
    div.list{
      grid-area: things;
    }
  
    .calculator {
      grid-area: calc;
    }
  
    div.calendar{
      grid-area: datetime;
    }
  
  
  }