body{
    font-family: 'Righteous';
    background-color: #2f4454;
}

header{
    margin: 15px;
    background-color: #1c3334;
    width: 98%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.cName{
    margin: 24px;
    font-size: 32px;
    color: whitesmoke;
}

.navOption{
    margin-left: 10%;
    background-color: #376e6f;
    border-radius: 30px;
    border-width: 10px;
    border-color: black;
    padding: 10px;
}
.navbar{
    color: whitesmoke;
    margin: 20px;
}

.focuspic{
    position: relative;
    text-align: center;
    color: white;
}


.mainPic{
    width:800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.mainpictext{
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 40px;

}

.bottomlayout{
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-areas: "pictures pictures pictures pictures"
                        "info info info info"
    ;
}

.smallPic{
    margin: auto;
    width: 210px;
    height: 200px;
    grid-area: pictures;
}

.text{
    color: whitesmoke;
    margin: 10px;
    width: 210px;
    height: 200px;
    grid-area: info;
    background-color: #376e6f;
}

@media (min-width: 576px) {
    .cName{
        margin: 24px;
        font-size: 11px;
    }
    
    .navbar{
        font-size: 8px;
    }
    
    .mainPic{
        width:400px;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    .mainpictext{
        font-size: 15px;
    
    }
    
    .bottomlayout{
        width: 400px;
    }

    .smallPic{
        width: 80px;
        height: 70px;
    }

    .text{
        width: 80px;
        height: 70px;
        font-size: 5px;
    }
    
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
    
    .cName{
        margin: 24px;
        font-size: 18px;
    }
    
    .navbar{
        font-size: 14px;
    }
    
    .mainPic{
        width:600px;
        height: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    .mainpictext{
        font-size: 30px;
    
    }
    
    .bottomlayout{
        width: 650px;
    }

    .smallPic{
        width: 150px;
        height: 140px;
    }

    .text{
        width: 150px;
        height: 140px;
        font-size: 10px;
    }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {
    
    header{
        margin: 15px;
        width: 98%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    
    .cName{
        margin: 24px;
        font-size: 32px;
    }
    
    .navOption{
        margin-left: 10%;
        border-radius: 30px;
        border-width: 10px;
        padding: 10px;
    }
    .navbar{
        margin: 20px;
    }
    
    .focuspic{
        position: relative;
        text-align: center;
    }
    
    
    .mainPic{
        width:800px;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    .mainpictext{
        position: absolute;
        top: 20px;
        left: 100px;
        font-size: 40px;
    
    }
    
    .bottomlayout{
        width: 800px;
        margin: auto;
        display: grid;
        grid-template-columns: 4fr;
        grid-template-areas: "pictures pictures pictures pictures"
                            "info info info info"
        ;
    }
    
    .smallPic{
        margin: auto;
        width: 210px;
        height: 200px;
        grid-area: pictures;
    }
    
    .text{
        margin: 10px;
        width: 210px;
        height: 200px;
        grid-area: info;
    }
}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {
    body{
        font-family: 'Righteous';
        background-color: #2f4454;
    }
    
    header{
        margin: 15px;
        width: 98%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    
    .cName{
        margin: 24px;
        padding-left: 50px;
        font-size: 32px;
    }
    
    .navOption{
        margin-left: 300px;
        border-radius: 30px;
        border-width: 10px;
        padding: 10px;
    }
    .navbar{
        margin: 20px;
    }
    
    .focuspic{
        position: relative;
        text-align: center;
        color: white;
    }
    
    
    .mainPic{
        width: 900px;
        height: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    .mainpictext{
        position: absolute;
        top: 20px;
        left: 25%;
        font-size: 40px;
    
    }
    
    .bottomlayout{
        width: 800px;
        margin-top: 15px;
        margin-left: 20%;
        display: grid;
        grid-template-columns: 4fr;
        grid-template-areas: "pictures pictures pictures pictures"
                            "info info info info"
        ;
    }
    
    .smallPic{
        margin: auto;
        width: 210px;
        height: 200px;
        grid-area: pictures;
    }
    
    .text{

        margin: 10px;
        width: 210px;
        height: 200px;
        grid-area: info;
    }
}