
[data-row] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10px;
    margin: 75px;
    border: 1px solid lightgray;
}

[data-row].red {
  background-color: red;
}

[data-row].yellow {
  background-color: yellow;
}

[data-row].green {
  background-color: green;
}

[data-row].blue {
  background-color: blue;
}

[data-color] {
  float: left;
}

[data-color="blue"] {
  height: 25px;
  width: 15px;
  background-color: blue;
  border: 1px solid black;
}

[data-color="green"] {
  height: 50px;
  width: 15px;
  background-color: green;
  border: 1px solid black;
}

[data-color="red"] {
  height: 75px;
  width: 15px;
  background-color: red;
  border: 1px solid black;
}

[data-color="yellow"] {
  height: 100px;
  width: 15px;
  background-color: yellow;
  border: 1px solid black;
}

